@import 'clients/shared/styles/variables';
@import 'clients/shared/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $sv-bg;
}

.tables-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90vw;
}

.table-card {
  @include sv-card-border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 250px;
  min-width: 300px;


  p {
    @include margin-padding-0;
    @include roboto;
  }


}

button {
  &.end-session {

  }
}

.table-header {
  @include flex-c-c;
  height: 50px;
  background-color: $sv-pill-bg;
  border-bottom: $sv-border 1px solid;
  padding: 0 0 0 10px;

  h3 {
    @include margin-padding-0;
    @include roboto;
    font-size: 15px;
    font-weight: 600;
    color: $sv-header;
  }
}

.table-body {
  height: 100%;

  &.no-session {
    @include flex-c-c;
  }
}

