@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Ultra&display=swap");

body {
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  height: 50px;
  width: 100%;
}

svg {
  &:hover {
    cursor: pointer;
  }
}

.fa-shopping {
  color: #b7b7b7;
}

.backdrop-solid {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;
  background-color: #ec3a4d;
  width: 35vw;
  height: 200vh;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;

  .home-page-div {
    width: 100%;

    .categories-main-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .category-card {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        width: 80%;
        height: 100px;
        margin: 13px 10px;
        background-color: #fafafa;
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15),
          1px 1px 15px 2px rgba(79, 79, 79, 0.07);

        .category-info {
          display: flex;
          flex-direction: column;
          margin: 0 60px;

          h2 {
            font-family: "Ultra", serif;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 22px;
            padding: 0;
            margin: 0 0 5px 0;
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 300;
            color: grey;
            margin: 0;
            padding: 0;
          }
        }

        .arrow-div {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f6f6f6;
          right: -20px;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          box-shadow: 2px 4px 15px 0 rgba(53, 53, 53, 0.2),
            3px 6px 20px 0 rgba(79, 79, 79, 0.07);

          .fa-arrow {
            color: #e64253;
          }
        }
      }
    }
  }
}

.route-link {
  text-decoration: none;
}
