$card-color: #fafafa;
$accent-color: #ec3a4d;
$title-color-dark: #41414c;
$mild-text-color: #838383;
$bar-yellow: rgb(255, 224, 47);
$bar-orange: rgb(255, 166, 50);

// service
$sv-bg: #101118;
$sv-bg-dark: #06070a;
$sv-header: #edeffa;
$sv-pink: #db39eb;
$sv-purple: #6a52ff;
$sv-card-bg-light: #2b2b3c;
$sv-pill-bg: #272d4d;
$sv-border: #363b59;
$sv-green: #2ae9aa;
$sv-orange: #e56000;
$sv-red: #e52200;

// kitchen
$purple: rgb(76, 48, 151);