@import "clients/shared/styles/variables";
@import "clients/shared/styles/mixins";

body {
  @include roboto;
  background-color: $purple;
  color: $card-color;
  padding: 10px 15px;
}

h1 {
  margin: 5px;
  font-weight: 900;
}

h3 {
  font-weight: 500;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  @include menu-card;
  width: 420px;
  height: 80px;
  margin: 10px auto;
  color: $title-color-dark;
  padding: 0 20px;
}

.qty {
  color: $accent-color;
  margin-left: 15px;
  font-weight: 700;
}
